<h1>Listing kine</h1>

<%= form_tag kine_path, :method => 'get' do %>
  <p>
    name: <%= text_field_tag :search, params[:search] %>
    owner: <%= text_field_tag :search_owner, params[:search_owner] %>
    <%= submit_tag "Search", :name => nil %>
  </p>
<% end %>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Ear</th>
      <th>Birth</th>
      <th>Owner</th>
      <th>T01</th>
      <th>T02</th>
      <th>T03</th>
      <th>T04</th>
      <th>T05</th>
      <th>T06</th>
      <th>T07</th>
      <th>T08</th>
      <th>T09</th>
      <th>T10</th>
      <th>T11</th>
      <th>T12</th>
      <th>T13</th>
      <th>T14</th>
      <th>T15</th>
      <th>T16</th>
      <th>T17</th>
      <th>T18</th>
      <th>T19</th>
      <th>T20</th>
      <th>T21</th>
      <th>T22</th>
      <th>T23</th>
      <th>T24</th>
      <th>T25</th>
      <th>T26</th>
      <th>T27</th>
      <th>T28</th>
      <th>T29</th>
      <th>T30</th>
      <th>T31</th>
      <th>T32</th>
      <th>T33</th>
      <th>T34</th>
      <th>T35</th>
      <th>T36</th>
      <th>T37</th>
      <th>T38</th>
      <th>T39</th>
      <th>T40</th>
      <th>T41</th>
      <th>T42</th>
      <th>T43</th>
      <th>T44</th>
      <th>T45</th>
      <th>T46</th>
      <th>T47</th>
      <th>T48</th>
      <th>T49</th>
      <th>T50</th>
      <th>T51</th>
      <th>T52</th>
      <th>T53</th>
      <th>T54</th>
      <th>T55</th>
      <th>T56</th>
      <th>T57</th>
      <th>T58</th>
      <th>T59</th>
      <th>T60</th>
      <th>T61</th>
      <th>T62</th>
      <th>T63</th>
      <th>T64</th>
      <th>T65</th>
      <th>T66</th>
      <th>T67</th>
      <th>T68</th>
      <th>T69</th>
      <th>T70</th>
      <th>T71</th>
      <th>T72</th>
      <th>T73</th>
      <th>T74</th>
      <th>T75</th>
      <th>T76</th>
      <th>T77</th>
      <th>T78</th>
      <th>T79</th>
      <th>T80</th>
      <th>T81</th>
      <th>T82</th>
      <th>T83</th>
      <th>T84</th>
      <th>T85</th>
      <th>T86</th>
      <th>T87</th>
      <th>T88</th>
      <th>T89</th>
      <th>T90</th>
      <th>T91</th>
      <th>T92</th>
      <th>T93</th>
      <th>T94</th>
      <th>T95</th>
      <th>T96</th>
      <th>T97</th>
      <th>T98</th>
      <th>T99</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @kine.each do |cow| %>
      <tr>
        <td><%= cow.name %></td>
        <td><%= cow.ear %></td>
        <td><%= cow.birth %></td>
        <td><%= cow.owner_id %></td>
        <td><%= cow.t01 %></td>
        <td><%= cow.t02 %></td>
        <td><%= cow.t03 %></td>
        <td><%= cow.t04 %></td>
        <td><%= cow.t05 %></td>
        <td><%= cow.t06 %></td>
        <td><%= cow.t07 %></td>
        <td><%= cow.t08 %></td>
        <td><%= cow.t09 %></td>
        <td><%= cow.t10 %></td>
        <td><%= cow.t11 %></td>
        <td><%= cow.t12 %></td>
        <td><%= cow.t13 %></td>
        <td><%= cow.t14 %></td>
        <td><%= cow.t15 %></td>
        <td><%= cow.t16 %></td>
        <td><%= cow.t17 %></td>
        <td><%= cow.t18 %></td>
        <td><%= cow.t19 %></td>
        <td><%= cow.t20 %></td>
        <td><%= cow.t21 %></td>
        <td><%= cow.t22 %></td>
        <td><%= cow.t23 %></td>
        <td><%= cow.t24 %></td>
        <td><%= cow.t25 %></td>
        <td><%= cow.t26 %></td>
        <td><%= cow.t27 %></td>
        <td><%= cow.t28 %></td>
        <td><%= cow.t29 %></td>
        <td><%= cow.t30 %></td>
        <td><%= cow.t31 %></td>
        <td><%= cow.t32 %></td>
        <td><%= cow.t33 %></td>
        <td><%= cow.t34 %></td>
        <td><%= cow.t35 %></td>
        <td><%= cow.t36 %></td>
        <td><%= cow.t37 %></td>
        <td><%= cow.t38 %></td>
        <td><%= cow.t39 %></td>
        <td><%= cow.t40 %></td>
        <td><%= cow.t41 %></td>
        <td><%= cow.t42 %></td>
        <td><%= cow.t43 %></td>
        <td><%= cow.t44 %></td>
        <td><%= cow.t45 %></td>
        <td><%= cow.t46 %></td>
        <td><%= cow.t47 %></td>
        <td><%= cow.t48 %></td>
        <td><%= cow.t49 %></td>
        <td><%= cow.t50 %></td>
        <td><%= cow.t51 %></td>
        <td><%= cow.t52 %></td>
        <td><%= cow.t53 %></td>
        <td><%= cow.t54 %></td>
        <td><%= cow.t55 %></td>
        <td><%= cow.t56 %></td>
        <td><%= cow.t57 %></td>
        <td><%= cow.t58 %></td>
        <td><%= cow.t59 %></td>
        <td><%= cow.t60 %></td>
        <td><%= cow.t61 %></td>
        <td><%= cow.t62 %></td>
        <td><%= cow.t63 %></td>
        <td><%= cow.t64 %></td>
        <td><%= cow.t65 %></td>
        <td><%= cow.t66 %></td>
        <td><%= cow.t67 %></td>
        <td><%= cow.t68 %></td>
        <td><%= cow.t69 %></td>
        <td><%= cow.t70 %></td>
        <td><%= cow.t71 %></td>
        <td><%= cow.t72 %></td>
        <td><%= cow.t73 %></td>
        <td><%= cow.t74 %></td>
        <td><%= cow.t75 %></td>
        <td><%= cow.t76 %></td>
        <td><%= cow.t77 %></td>
        <td><%= cow.t78 %></td>
        <td><%= cow.t79 %></td>
        <td><%= cow.t80 %></td>
        <td><%= cow.t81 %></td>
        <td><%= cow.t82 %></td>
        <td><%= cow.t83 %></td>
        <td><%= cow.t84 %></td>
        <td><%= cow.t85 %></td>
        <td><%= cow.t86 %></td>
        <td><%= cow.t87 %></td>
        <td><%= cow.t88 %></td>
        <td><%= cow.t89 %></td>
        <td><%= cow.t90 %></td>
        <td><%= cow.t91 %></td>
        <td><%= cow.t92 %></td>
        <td><%= cow.t93 %></td>
        <td><%= cow.t94 %></td>
        <td><%= cow.t95 %></td>
        <td><%= cow.t96 %></td>
        <td><%= cow.t97 %></td>
        <td><%= cow.t98 %></td>
        <td><%= cow.t99 %></td>
        <td><%= link_to 'Show', cow %></td>
        <td><%= link_to 'Edit', edit_cow_path(cow) %></td>
        <td><%= link_to 'Destroy', cow, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Cow', new_cow_path %>

