<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @cow.name %>
</p>

<p>
  <strong>Ear:</strong>
  <%= @cow.ear %>
</p>

<p>
  <strong>Birth:</strong>
  <%= @cow.birth %>
</p>

<p>
  <strong>Owner:</strong>
  <%= @cow.owner_id %>
</p>

<p>
  <strong>T01:</strong>
  <%= @cow.t01 %>
</p>

<p>
  <strong>T02:</strong>
  <%= @cow.t02 %>
</p>

<p>
  <strong>T03:</strong>
  <%= @cow.t03 %>
</p>

<p>
  <strong>T04:</strong>
  <%= @cow.t04 %>
</p>

<p>
  <strong>T05:</strong>
  <%= @cow.t05 %>
</p>

<p>
  <strong>T06:</strong>
  <%= @cow.t06 %>
</p>

<p>
  <strong>T07:</strong>
  <%= @cow.t07 %>
</p>

<p>
  <strong>T08:</strong>
  <%= @cow.t08 %>
</p>

<p>
  <strong>T09:</strong>
  <%= @cow.t09 %>
</p>

<p>
  <strong>T10:</strong>
  <%= @cow.t10 %>
</p>

<p>
  <strong>T11:</strong>
  <%= @cow.t11 %>
</p>

<p>
  <strong>T12:</strong>
  <%= @cow.t12 %>
</p>

<p>
  <strong>T13:</strong>
  <%= @cow.t13 %>
</p>

<p>
  <strong>T14:</strong>
  <%= @cow.t14 %>
</p>

<p>
  <strong>T15:</strong>
  <%= @cow.t15 %>
</p>

<p>
  <strong>T16:</strong>
  <%= @cow.t16 %>
</p>

<p>
  <strong>T17:</strong>
  <%= @cow.t17 %>
</p>

<p>
  <strong>T18:</strong>
  <%= @cow.t18 %>
</p>

<p>
  <strong>T19:</strong>
  <%= @cow.t19 %>
</p>

<p>
  <strong>T20:</strong>
  <%= @cow.t20 %>
</p>

<p>
  <strong>T21:</strong>
  <%= @cow.t21 %>
</p>

<p>
  <strong>T22:</strong>
  <%= @cow.t22 %>
</p>

<p>
  <strong>T23:</strong>
  <%= @cow.t23 %>
</p>

<p>
  <strong>T24:</strong>
  <%= @cow.t24 %>
</p>

<p>
  <strong>T25:</strong>
  <%= @cow.t25 %>
</p>

<p>
  <strong>T26:</strong>
  <%= @cow.t26 %>
</p>

<p>
  <strong>T27:</strong>
  <%= @cow.t27 %>
</p>

<p>
  <strong>T28:</strong>
  <%= @cow.t28 %>
</p>

<p>
  <strong>T29:</strong>
  <%= @cow.t29 %>
</p>

<p>
  <strong>T30:</strong>
  <%= @cow.t30 %>
</p>

<p>
  <strong>T31:</strong>
  <%= @cow.t31 %>
</p>

<p>
  <strong>T32:</strong>
  <%= @cow.t32 %>
</p>

<p>
  <strong>T33:</strong>
  <%= @cow.t33 %>
</p>

<p>
  <strong>T34:</strong>
  <%= @cow.t34 %>
</p>

<p>
  <strong>T35:</strong>
  <%= @cow.t35 %>
</p>

<p>
  <strong>T36:</strong>
  <%= @cow.t36 %>
</p>

<p>
  <strong>T37:</strong>
  <%= @cow.t37 %>
</p>

<p>
  <strong>T38:</strong>
  <%= @cow.t38 %>
</p>

<p>
  <strong>T39:</strong>
  <%= @cow.t39 %>
</p>

<p>
  <strong>T40:</strong>
  <%= @cow.t40 %>
</p>

<p>
  <strong>T41:</strong>
  <%= @cow.t41 %>
</p>

<p>
  <strong>T42:</strong>
  <%= @cow.t42 %>
</p>

<p>
  <strong>T43:</strong>
  <%= @cow.t43 %>
</p>

<p>
  <strong>T44:</strong>
  <%= @cow.t44 %>
</p>

<p>
  <strong>T45:</strong>
  <%= @cow.t45 %>
</p>

<p>
  <strong>T46:</strong>
  <%= @cow.t46 %>
</p>

<p>
  <strong>T47:</strong>
  <%= @cow.t47 %>
</p>

<p>
  <strong>T48:</strong>
  <%= @cow.t48 %>
</p>

<p>
  <strong>T49:</strong>
  <%= @cow.t49 %>
</p>

<p>
  <strong>T50:</strong>
  <%= @cow.t50 %>
</p>

<p>
  <strong>T51:</strong>
  <%= @cow.t51 %>
</p>

<p>
  <strong>T52:</strong>
  <%= @cow.t52 %>
</p>

<p>
  <strong>T53:</strong>
  <%= @cow.t53 %>
</p>

<p>
  <strong>T54:</strong>
  <%= @cow.t54 %>
</p>

<p>
  <strong>T55:</strong>
  <%= @cow.t55 %>
</p>

<p>
  <strong>T56:</strong>
  <%= @cow.t56 %>
</p>

<p>
  <strong>T57:</strong>
  <%= @cow.t57 %>
</p>

<p>
  <strong>T58:</strong>
  <%= @cow.t58 %>
</p>

<p>
  <strong>T59:</strong>
  <%= @cow.t59 %>
</p>

<p>
  <strong>T60:</strong>
  <%= @cow.t60 %>
</p>

<p>
  <strong>T61:</strong>
  <%= @cow.t61 %>
</p>

<p>
  <strong>T62:</strong>
  <%= @cow.t62 %>
</p>

<p>
  <strong>T63:</strong>
  <%= @cow.t63 %>
</p>

<p>
  <strong>T64:</strong>
  <%= @cow.t64 %>
</p>

<p>
  <strong>T65:</strong>
  <%= @cow.t65 %>
</p>

<p>
  <strong>T66:</strong>
  <%= @cow.t66 %>
</p>

<p>
  <strong>T67:</strong>
  <%= @cow.t67 %>
</p>

<p>
  <strong>T68:</strong>
  <%= @cow.t68 %>
</p>

<p>
  <strong>T69:</strong>
  <%= @cow.t69 %>
</p>

<p>
  <strong>T70:</strong>
  <%= @cow.t70 %>
</p>

<p>
  <strong>T71:</strong>
  <%= @cow.t71 %>
</p>

<p>
  <strong>T72:</strong>
  <%= @cow.t72 %>
</p>

<p>
  <strong>T73:</strong>
  <%= @cow.t73 %>
</p>

<p>
  <strong>T74:</strong>
  <%= @cow.t74 %>
</p>

<p>
  <strong>T75:</strong>
  <%= @cow.t75 %>
</p>

<p>
  <strong>T76:</strong>
  <%= @cow.t76 %>
</p>

<p>
  <strong>T77:</strong>
  <%= @cow.t77 %>
</p>

<p>
  <strong>T78:</strong>
  <%= @cow.t78 %>
</p>

<p>
  <strong>T79:</strong>
  <%= @cow.t79 %>
</p>

<p>
  <strong>T80:</strong>
  <%= @cow.t80 %>
</p>

<p>
  <strong>T81:</strong>
  <%= @cow.t81 %>
</p>

<p>
  <strong>T82:</strong>
  <%= @cow.t82 %>
</p>

<p>
  <strong>T83:</strong>
  <%= @cow.t83 %>
</p>

<p>
  <strong>T84:</strong>
  <%= @cow.t84 %>
</p>

<p>
  <strong>T85:</strong>
  <%= @cow.t85 %>
</p>

<p>
  <strong>T86:</strong>
  <%= @cow.t86 %>
</p>

<p>
  <strong>T87:</strong>
  <%= @cow.t87 %>
</p>

<p>
  <strong>T88:</strong>
  <%= @cow.t88 %>
</p>

<p>
  <strong>T89:</strong>
  <%= @cow.t89 %>
</p>

<p>
  <strong>T90:</strong>
  <%= @cow.t90 %>
</p>

<p>
  <strong>T91:</strong>
  <%= @cow.t91 %>
</p>

<p>
  <strong>T92:</strong>
  <%= @cow.t92 %>
</p>

<p>
  <strong>T93:</strong>
  <%= @cow.t93 %>
</p>

<p>
  <strong>T94:</strong>
  <%= @cow.t94 %>
</p>

<p>
  <strong>T95:</strong>
  <%= @cow.t95 %>
</p>

<p>
  <strong>T96:</strong>
  <%= @cow.t96 %>
</p>

<p>
  <strong>T97:</strong>
  <%= @cow.t97 %>
</p>

<p>
  <strong>T98:</strong>
  <%= @cow.t98 %>
</p>

<p>
  <strong>T99:</strong>
  <%= @cow.t99 %>
</p>

<%= link_to 'Edit', edit_cow_path(@cow) %> |
<%= link_to 'Back', kine_path %>
